@{
    ViewBag.Title = "UpdateVideo";
    int idRound = ViewBag.IdRound;
}

<div id="page-wrapper">
    <div class="row">
        <!-- page header -->
        <div class="col-lg-12">
            <h1 class="page-header">Cập nhật thành công</h1>
        </div>
        <!--end page header -->
    </div>
    <div class="row">
        <button class="btn btn-success" onclick="location.href = '/Admin/ListVideos?idRound=@idRound'">Quay lại danh sách video</button>
    </div>
</div>
