<footer id="footer">
    <div class="inner">
        <section>
            <h2>Liên hệ</h2>
            <p style="margin-bottom: 1em">
                Khoa luat Đại học Tôn Đức Thắng
            </p>
            <p style="margin-bottom: 1em">
                Website: <a href="http://law.tdt.edu.vn" target="_blank">http://law.tdt.edu.vn</a>  -   Email : khoaluattdt@gmail.com
            </p>
            <p style="margin-bottom: 1em">
                Văn phòng khoa luật, phòng B011.
                19 đường Nguyễn Hữu Thọ, phường Tân Phong, quận 7, TPHCM
            </p>
            <hr />
            <p style="margin-bottom: 0em;margin-top: 1em">Copyright <a href="">tr4ck3rb0t</a></p>
        </section>
    </div>
</footer>