<footer id="footer">
    <div class="inner">
        <section>
            <h2>Giới thiệu khoa Luật</h2>
            <div class="videoWrapper">
                <iframe src="https://www.youtube.com/embed/UZjuizEYU9g" frameborder="0" allowfullscreen></iframe>
                </div>
</section>
        <section>
            <h2>Follow</h2>
            <ul class="icons">
                <li><a href="https://www.facebook.com/khoaluatdhtdt.tdt.edu.vn" target="_blank" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
                <li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
            <hr />
            <h2>Liên hệ BTC:</h2>
            <p style="margin-bottom:1em">
                Email : khoaluattdt@gmail.com</p>
            <p style="margin-bottom:1em">
                Số điện thoại: 01672 209 909 – gặp Long (Trưởng Ban Truyền thông)
            </p>
            <p style="margin-bottom:1em">
                Văn phòng khoa luật, phòng B011.
            </p>
        </section>
    </div>
</footer>