<footer id="footer">
    <div class="inner">
        <section>
            <h2>Giới thiệu khoa Luật</h2>
            <div class="videoWrapper">
                <iframe src="https://www.youtube.com/embed/UZjuizEYU9g" frameborder="0" allowfullscreen></iframe>
            </div>

            <hr />
            Copyright <a href="">tr4ck3rb0t</a>
            @*<h2>Liên hệ BTC:</h2>
            <p style="margin-bottom: 1em">
                Email : khoaluattdt@gmail.com
            </p>
            <p style="margin-bottom: 1em">
                Số điện thoại: 01672 209 909 – gặp Long (Trưởng Ban Truyền thông)
            </p>
            <p style="margin-bottom: 1em">
                Văn phòng khoa luật, phòng B011.
            </p>*@
        </section>
        <section>
            <h2>Follow</h2>
            <div class="fb-page" data-href="https://www.facebook.com/khoaluatdhtdt.tdt.edu.vn" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/khoaluatdhtdt.tdt.edu.vn" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/khoaluatdhtdt.tdt.edu.vn">Khoa Luật ĐH Tôn Đức Thắng</a></blockquote>
            </div>
        </section>
    </div>
</footer>