<header id="header">
    <div class="inner">

        <!-- Logo -->
        <a href="index.html" class="logo">
            <span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Phantom</span>
        </a>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>

    </div>
</header>
<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="/home/index">Trang chủ</a></li>
        <li><a href="/detail/video">Vòng thi</a></li>
        <li><a href="/about/rule">Thể lệ</a></li>
    </ul>
</nav>